.geral{
  display: flex;
  flex-direction: row;
}

.hero{
  height: 100vh;
  width: 10000px;
  background: center / cover no-repeat url(../images/fundo_provisorio.webp);
}

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    font-family: sans-serif;
    text-decoration: none;
  }
  
  .header {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background: #1a1b30;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
  }
  
  .nav {
    width: 100px;
    height: 100%;
    
    margin-inline-end: auto;
    margin-inline-start: auto;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
  }

  .nav:hover{
    width: 200px;
    transition: 1s;
  }

  .con-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    height: 65px;
    width: 100px;
  }

  .nav-title{
    color: #c152fd;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block-end: 16px;
    padding-block-start: 16px;
  }

  /**************************barra de pesquisa******************************/

  .search-box {
    top: 50%;
    left: 50%;
    background: #262738;
    height: 40px;
    width: 10;
    border-radius: 40px;
    padding: 10px;
  }

  .search-btn {
    color: #c152fd;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #262738;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
  }

  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 35px;
    width: 0px;
    max-width: 100%;
  }

  .search-box:hover > .search-txt {
    width: 190px;
    height: 35px;
    padding: 0 6px;

  }

  /**********************barra de pesquisa******************************/
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

  /****************************post e interiores*******************************/

  .post, .p-nome, .p-subnome, .p-titulo, .p-text, .p-img, .p-botao, .p-fotinha, .p-subfotinha, .p-identifica{
    border-width: 5px;
    border-color: rgb(62, 65, 158);
    color: rgb(29, 19, 6);
  }

  .post {
    width: 40vw;
    height: auto;
    border-radius: 1em;
    background-color: white;
  }

  .p-fotinha, .p-subfotinha {
    width: 25px;
    height: 25px;
    border-radius: 3em;
  }

  .p-identifica {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
  }

  .p-superior {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 100vh;
  }

  .p-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }

  .p-img {
    width: 39vw;
    border-radius: 1.5em;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  /*************************fim post e interiores******************************/
  

  /********************aqui começa o css pra mobile****************************/
  @media (max-width: 750px) {
    .nav-title {
      font-size: 0px;
    }

    .search-box:hover > .search-txt {
      width: 100px;
      height: 35px;
      padding: 0 6px;
    }

    .nav {
      max-width: 1280px;
      height: 45px;
      margin-inline-end: auto;
      margin-inline-start: auto;
    
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #1a1b30;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }




  /* Cadastro  */

  /* Container Principal */
