.geral{
  display: flex;
  flex-direction: row;
}

.hero{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fffefe;
  /*background: center / cover no-repeat url(../images/fundo_provisorio.webp);*/
  padding: 20px;
  align-items: center;
  right: 10%;
}

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    font-family: sans-serif;
    text-decoration: none;
  }
  
  .header {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background: #9fa3cf;
    position: fixed;
  }
  
  .nav {
    width: 100px;
    height: 100vh;
    
    margin-inline-end: 16px;
    margin-inline-start: 16px;
    margin-top: 50px;
  
    display: flex;
    align-items: center;
    transition: 1s ease;
  }

  .con-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    height: 120px;
    width: 100px;
    /*filter: invert(100%) saturate(0%);*/ /*apague esse comentario e a logo fica branca*/

    position: fixed;
    left: 20px;
    top: 20px;
  }
  
  .nav-list {
    list-style: none;
    display: flex; 
    flex-direction: column; 
    align-items: baseline; 
    justify-content: space-around;
    height: 70vh;
    max-width: 100%;
  }

  .header:hover > .nav{
    width: 200px;
    padding-left: 15%;
  }
    
  .nav-list a {
    font-size: 0px;
    color: #000000;
    font-weight: 600;
    padding-block-end: 16px;
    padding-block-start: 16px;
    transition: 0.4s ease;
  }

  .header:hover > .nav a {
    font-size: 22px;
    width: 100%;
  }

  .header:hover > .nav li {
    width: 150px;
  }

  .nav-list i {
    font-size: 1.5em;
    margin-right: 5px;
    position: relative;
    left: 30px;
    transition: 0.5s ease;
  }

  .nav-list a:hover {
    background-color: #8286b1;
    padding-inline-start: 90px;
    padding-inline-end: 100px;
    color: #fff;
  }

  .header:hover i {
    left: 0px;
  }


  .nav-list li {
    display: flex;
  }

  /**************************barra de pesquisa******************************/

  .search-box {
    margin-top: 20px;
    right: 4vh;
    background: #9FA3CF;
    border-radius: 40px;
    padding: 10px;
    position: fixed;
    border: 2px #363030 solid;
  }

  .search-btn {
    color: #000;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background: #9FA3CF;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
  }

  .search-btn:hover {
    background-color: #8286B1;
    color: #fff;
  }

  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #000;
    font-size: 18px;
    transition: 0.4s;
    line-height: 35px;
    width: 0px;
    max-width: 100%;
  }

  .search-box:hover > .search-txt {
    width: 190px;
    height: 35px;
    padding: 0 6px;
  }

  ::-webkit-input-placeholder {
    color: #494949;
 }

  /**********************fim barra de pesquisa******************************/
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

  /****************************post e interiores*******************************/

  .post {
    width: 40vw;
    height: auto;
    border-radius: 1em;
    background-color: #ffecec;
    padding: 20px;
    border: 2px, #d6c1c1, solid;
    margin-bottom: 20px;
    box-shadow: -2px 2px 4px #9c8c8c;
  }

  .p-fotinha {
    width: 30px;
    height: 30px;
    border-radius: 3em;
    margin-right: 7px;
    border: 1px #d6c1c1 solid;
    box-shadow: 0px 0px 4px #9c8c8c;
  }
  
  .p-nome {
    font: bolder;
  }

  .p-identifica {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
  }

  .p-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .p-titulo {
    font-size: 1.6em;
    font-family: Helvetica, Arial, sans-serif;
  }

  .p-texto {
    font-size: 1em;
    font-weight: normal;
    color: #312e38;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .p-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }

  .p-img {
    width: 39vw;
    border-radius: 1.5em;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: 2px, #6b5c5c, solid;
  }

  .p-inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: auto;
    padding: 8px;
  }

  .inferior-esquerda {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    width: 40vw;
  }

  .mais {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #464040;
  }

  .p-vote, .p-comentario {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    color: #464040;
    border-radius: 30px;
    padding: 4px;
  }

  /*************************fim post e interiores******************************/


  /*************************criação (post, grupos e eventos)******************************/

  .criacao {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    right: 2vw;
    bottom: 2vw;
  }
  
  #criar{
    background-color: #9fa3cf;
    color: #000000;
    border-radius: 100px;
    position: fixed;
    width: 6vh;
    height: 6vh;
    right: 2vw;
    bottom: 2vw;
    font-size: 1.5vw;
    z-index: 2;
    border: 2px #363030 solid;

    transform: rotate(0deg);
    transition: 0.3s;
    transition-delay: 0.2s;
    cursor: pointer;
  }
  
  #criar.ativo{
    transform: rotate(45deg);
    right: 4vw;
    bottom: 3vw;
    width: 8vh;
    height: 8vh;
    font-size: 2vw;
    transition: 0.4s;
    border: 2px #363030 solid;
  }

  #criar:hover {
    background-color: #8286b1;
    color: #fff;
  }

  .criar-post, .criar-grupo, .criar-evento {
    width: 0px;
    height: 0px;
    font-size: 0;
    position: fixed;
    border-radius: 100px;
    background-color: #9fa3cf;
    transition: 0.3s;
    right: 5vw;
    bottom: 5vw;
    cursor: pointer;
    border: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .criar-post:hover, .criar-grupo:hover, .criar-evento:hover {
    transition: none;
    background-color: #8286b1;
    color: #fff;
    transition: 0s !important;
    transition-delay: 0s !important;
  }

  #criar.ativo ~ .criar-post, #criar.ativo ~ .criar-grupo, #criar.ativo ~ .criar-evento{
    width: 8vh;
    height: 8vh;
    font-size: 1.5vw;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #363030 solid;
    transition-delay: 0s;
  }

  #criar.ativo ~ .criar-post{
    transition-delay: 0.2s;
    right: calc(4vw - 25px);
    bottom: calc(3vw + 11vh);

  }

  #criar.ativo ~ .criar-grupo{
    transition-delay: 0.4s;
    right: calc(4vw + 8vh);
    bottom: calc(3vw + 8vh);
  }

  #criar.ativo ~ .criar-evento{
    transition-delay: 0.6s;
    right: calc(4vw + 11vh);
    bottom: calc(3vw - 25px);
  }

  /*************************fim criação******************************/

  /********************aqui começa o css pra mobile****************************/
  @media (max-width: 750px) {
    .nav-title {
      font-size: 0px;
    }

    .search-txt {
      width: 100px;
      height: 35px;
      padding: 0 6px;
    }

    .nav {
      max-width: 1280px;
      height: 45px;
      margin-inline-end: auto;
      margin-inline-start: auto;
    
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #1a1b30;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
